body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container-fluid {
    margin-top: 20px;
}

.row {
    margin-bottom: 10px;
}

.btn {
    margin-right: 10px;
}