{% extends "base.html" %}
{% block content %}
<h1>Task List</h1>

<a href="{% url 'tasks:task-create' %}" class="btn btn-primary">Add New Task</a>

<ul>
  {% for task in object_list %}
    <li>
      {{ task.content }}
      {% if task.deadline %} (Deadline: {{ task.deadline|date:"Y-m-d H:i" }}) {% endif %}

      {% if task.is_done %} ✅ Done {% else %} ❌ Not Done {% endif %}

      <a href="{% url 'tasks:task-update' task.pk %}">Edit</a>
      <a href="{% url 'tasks:task-delete' task.pk %}" class="btn btn-danger">Delete</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}